@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --textColor: black;
  --softBg: #101010;
  --softTextColor: #626262;
  --borderColor:black;
}


* {
  padding: 0;
  box-sizing: border-box;
  border-color:var(--borderColor);
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  cursor:none;
}

button {
  cursor:none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor:none;
}

.containerA {
  min-height: 100vh;
  background-color: var(--bg);
  transition: background-color 2s;
  color: var(--textColor);
}

.dark {
  --bg: #0f172a;
  --textColor: #ddd;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
  --borderColor:transparent;
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, 0px);
  background-color: white;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}
.animate-pulse {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes open {

  from {
    transform: scale(.0);

  }
  to {
    transform: scale(1);

  }

}

@keyframes out {

  from {
    transform: scale(1);

  }
  to {
    transform: scale(0);
  }

}

.anime-in {
  animation: open 5s ease-in ;
}

.anime-out {
  animation: out 100s ease-in;
}